<div  class="card card bg-transparent">
    <div class="card-header">
        <h3 class="text-white p-4 rounded">Clamping Companies</h3>
        <input type="text" [(ngModel)]="searchCcs" placeholder= "search clamping company" class= "form-control ml-auto float-sm-right">
    </div>
    
 
    <div class="card-body list-group">
        <div *ngIf="errorMsg!=null">{{errorMsg}}</div>
        <ul class="">
            <div *ngIf="ccs!=[]">
                <div
                style="height:390px;width:100%;border:1px solid transparent;font:16px Arial, Serif;overflow:auto;">
                <ng-container *ngFor='let cc of ccs | CcFilter:searchCcs; let i = index; trackBy: trackByFn' >
                    <li class='list-group-item list-group-item-action' 
                        
                        (click)='ccSelected(cc.cc_id)' 
                        [class.active]='i==cc.cc_id'> 
                        
                        {{cc.cc_name}}
                    </li>
                </ng-container>
                </div>
            </div>
        </ul>
        <div class="card-footer">
            <app-admin-new-cc></app-admin-new-cc>
        </div>
    </div>
</div>
