<!-- Button trigger modal-->
<button type="button"
class="btn btn-outline-dark"
data-toggle="modal"
data-target="#newCcModal"
(click)="openNew()">
+
</button>


<!-- Modal -->
<div class="modal fade text-dark" id="newCcModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Clamping Company</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span area-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Cc Name</label>
                    <input required #cc="ngModel" class="form-control" [(ngModel)]=cc.cc_name/>
                    <div *ngIf="cc.invalid && (cc.dirty || cc.touched)" class="alert alert-danger">
                        <div *ngIf="cc.errors.required">
                            Name  is required.
                        </div>
                    </div>                       
                </div>    
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="addNew()" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>
