<!-- Button trigger modal-->
<button type="button"
class="btn btn-outline-light"
data-toggle="modal"
data-target="#newCarModal"
(click)="openNew()">
Add Car<i class="fas fa-plus text-success"></i>
</button>


<!-- Modal -->
<div class="modal fade text-dark" id="newCarModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Car</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span area-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Car Registration Plate Number</label>
                    <input required #reg="ngModel" class="form-control" [(ngModel)]=car.car_reg/>
                    <div *ngIf="reg.invalid && (reg.dirty || reg.touched)" class="alert alert-danger">
                        <div *ngIf="reg.errors.required">
                            Car Reg is required.
                        </div>
                    </div>   
                </div>
                <div class="form-group">
                    <label>Car Colour</label>
                    <input required #color="ngModel" class="form-control" [(ngModel)]=car.car_colour/>
                    <div *ngIf="color.invalid && (color.dirty || color.touched)" class="alert alert-danger">
                        <div *ngIf="color.errors.required">
                            Car Colour is required.
                        </div>
                    </div>  
                </div>
                <!--<div class="form-group">
                    <label>Car Make</label>
                    <input id="search" (clicl)="toggleDropdown()" required #make="ngModel" class="form-control" [(ngModel)]="searchTerm"/>
                 <div  class="state-container-dropdown">
                            <div (click)="selectValue(car.Make_Name)" *ngFor="let car of makes | carMakeFilter:searchTerm">
                                {{car.Make_Name}}
                            </div>
                    </div>
                    <div *ngIf="make.invalid && (make.dirty || make.touched)" class="alert alert-danger">
                        <div *ngIf="make.errors.required">
                            Car Make is required.
                        </div>
                    </div>                      
                </div>
                <div class="form-group">
                    <label>Car Model</label>
                    <input required #model="ngModel" class="form-control" [(ngModel)]=car.car_model/>
                    <div *ngIf="model.invalid && (model.dirty || model.touched)" class="alert alert-danger">
                        <div *ngIf="model.errors.required">
                            Car Make is required.
                        </div>
                    </div>   
                </div>--> 
                <div class="form-group">
                    <label for="car_details">Car Make:</label>
                    <select name="car_make"  ngModel class="form-control" [(ngModel)]=car.car_make [readonly]="notEditable" (change)="getModelsById($event.target.value)">
                        <option [value]="car.car_make" hidden>--{{car.car_make}}--</option>
                        <option  *ngFor="let cMake of cMakes" [value]="cMake.car_make_name">
                            {{cMake.car_make_name}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="car_details">Car Model:</label>
                    <select name="car_model" ngModel class="form-control" [(ngModel)]=car.car_model
                        [readonly]="notEditable">
                        <option [value]="car.car_model" hidden>--{{car.car_model}}--</option>
                        <option *ngFor="let cModel of cModels" [value]="cModel.car_model_name">
                            {{cModel.car_model_name}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>User ID</label>
                    <input class="form-control" type="number" [(ngModel)]=car.user_id/>
                </div>

                
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="addNew()" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>
