<div id="bg2" class="justify-content-md-center text-center text-light  rounded">
    <div class="row justify-content-center pt-2">
        <form class="form-signin" (submit)="loginUser($event)" #validation="ngForm">
            <img class="mb-4 rounded-circle" src="../../assets/parkinator.png" alt="" width="200" height="200">
            <h1 class="h3 mb-3 font-weight-normal"> Sign In</h1><br>
            <input class="form-control" type="email" email="true"  placeholder="Email" [(ngModel)] = "username" name="username" required #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors.required">
                    Email is required.
                </div>
                <div *ngIf="name.errors.email">
                    Must be an email.
                </div>                
            </div>          
            <br>
            <input class="form-control" type="password"  placeholder="password" [(ngModel)] = "hash" name="hash" required #name0="ngModel">
            <div *ngIf="name0.invalid && (name0.dirty || name0.touched)" class="alert alert-danger">
                <div *ngIf="name0.errors.required">
                    Password is required.
                </div>
            </div>     
            <br>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" [(ngModel)]="checkbox" name="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <input [disabled]="!validation.valid" class="btn btn-lg btn-primary btn-block " type="submit" value="Log In"><br>
            <a  routerLink="/register" routerLinkActive="active" type="submit">Sign up</a>&nbsp;&nbsp;
            <a  routerLink="/recovery" type="submit">Recover Password</a>
            <p class="mt-5 mb-3 text-muted">© 2020 - Parkinator</p>
        </form>
    </div>
</div>


<div  class="justify-content-md-center text-center pt-5">
    <div class="row justify-content-center pt-5">

    </div>
</div>