<app-header></app-header>
<section>
    <div class="container-fluid mh-100">
        <div class="row ">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row mb-4 align-items-center">
                    <div class="col-xl-6 col-12 mb-4 mb-xl-0">
                        <div id="back" class="bg-dark text-white p-4 rounded">
                            <h4 class="mb-5">Tickets</h4>
                            <div ng-if="tickets!=[]">
                                <div id="accordion" >
                                    <div *ngFor="let ticket of tickets">

                                        <div class="card" >
                                            <div class="card-header"  id="headingOne">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" data-toggle="collapse"
                                                        [attr.data-target]="'#' +  ticket.message_id"
                                                        aria-expanded="true" aria-controls="collapseOne">
                                                       <strong> {{ticket.title}} {{ticket.date}} {{ticket.user_id}}    </strong>    
                                                                                         
                                                    </button>
                                                    <div class="col-1 text-dark">
                                                        
                                                    </div> 
                                                    <div class="col-6 text-dark">
                                                        <select class="form-control"  (change)="updateStatus(ticket.message_id)" name="statusCode" [(ngModel)]="statusCode" >
                                                            <option [ngValue]="undefined" hidden >--Current Status : {{ticket.status}}--</option>
                                                            <option  *ngFor="let stat of status" >{{stat}}</option>
                                                        </select>
                                                    </div> 
                                                </h5>
                                            </div>
                                            <div id="{{ticket.message_id}}" class="collapse hidden"
                                                aria-labelledby="headingOne" data-parent="#accordion">
                                                <div class="card-body text-dark">
                                                    {{ticket.message}}
                                                    <a (click)="removeTicket(ticket.message_id)" data-toggle="tooltip"
                                                        title="delete" data-html="true" data-placement="top"><i
                                                            class="fas fa-trash-alt fa-lg text-danger float-right"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="back" class="col-xl-6 col-12">
                        <h4 class="mb-5 text-white p-4 rounded">Soon</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>