[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  
  [type="file"] + label {
    background: #1a69d1;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
      font-family: 'Poppins', sans-serif;
      font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 0.5rem 50px;
    position: relative;
    transition: all 0.3s;
    
 
  }
