<app-header></app-header>
<section>
  <div class="input-group">
  <div class="container-fluid mh-100">
    <div class="row ">
      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
        <div class="row mb-4 align-items-center">
          <div class="col-xl-6 col-12 mb-4 mb-xl-0">
            <div id="back" class="bg-dark text-white p-4 rounded">
              <h4 class="mb-5">Profile</h4>
              <div id="booking" class="section">
                <div class="section-center">
                  <form (submit)='update($event)' value="up">
                    <div class="container">
                      <div class="row">
                        <div class="container">
                          <div class="row">
                            <div class="col-12">
                              <div class={{messageClass}}>{{messageText}}</div>
                              <label>Full Name</label>
                              <input class="form-control search-input" [(ngModel)]="fullname" name="fullname"
                                placeholder="{{user.user_fullname}}" (click)='updateNotice()'>
                            </div>
                          </div>
                          <br>
                          <br>
                          <div class="row">
                            <div class="col-6">
                              <label>User Type</label>
                              <input [readOnly]="true"  style="background-color:transparent;"  class="form-control search-input" placeholder="{{user.user_type}}">
                            </div>
                            <div class="col-6">
                              <label>Disabled Badge</label>
                              <input [readOnly]="true" class="form-control search-input" style="background-color:transparent;"  placeholder="{{user.has_disabled_badge}}">
                            </div>
                          </div>
                          <br>
                          <br>
                          <div class="row">
                            <div class="col-12">
                              <label>Recovery Question</label>
                              <input [readOnly]="true" class="form-control search-input" style="background-color:transparent;"  placeholder="{{user.question}}">
                            </div>
                          </div>
                          <br>
                          <br>
                          <div class="row">
                            <div class="col-6">
                              <label>Email</label>
                              <input [readOnly]="true" class="form-control search-input" style="background-color:transparent;"  placeholder="{{user.email}}">
                            </div>
                            <div class="col-6">
                              <label>Insert Profile Picture</label>
                              <input #imageInput id="file" type="file" accept="image/*" (change)="getBase64($event)">
                              <label for="file" class="btn-2 search-input">upload</label>
                            </div>
                          </div>
                          <br>
                          <br>
                          <div class="row">
                            <div class="col-4">

                            </div>
                            <div class="col-4">
                              <button class="btn rounded btn-block btn-success search-input">Update</button>
                            </div>
                            <div class="col-4">

                            </div>
                          </div>
                          <div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div id="back" class="col-xl-6 col-12">
            <br>
            <div class="container text-center">
              <img src="{{image}}" class="rounded-circle " width="300" height="300" alt="Cinque Terre">
              <div class="text-white">
                <br>
                <h4>{{user.user_fullname}}</h4>

              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<app-footer></app-footer>