<app-header></app-header>
<section>
    <div class="container-fluid mh-100">
        <div class="row ">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row mb-4 align-items-center">
                    <div class="col-xl-6 col-12 mb-4 mb-xl-0">
                        <div id="back" class="bg-dark text-white p-4 rounded">
                            <h4 class="mb-5">Add Your Booking</h4>
                            <div id="booking" class="section">
                                <div class="section-center">
                                    <div class="container">
                                        <div class="row">
                                            <div class="container">
                                               <!-- <form (submit)="addBooking($event)">-->
                                                   <form>
                                                    <div class="row ">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <span class="form-label">Select Parking Lot</span>
                                                                <select class="form-control"
                                                                    (change)="setLot($event.target.value);" [(ngModel)]="lotNameId" name="lotNameId">
                                                                    <option value="-1">Avaivable Lots</option>
                                                                    <option *ngFor="let lot of lots">
                                                                        {{lot.parking_name}}</option>
                                                                </select>

                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <span class="form-label">Select The Zone</span>
                                                                <select (change)="setCo($event.target.value);" [disabled]="zoneSets" class="form-control"
                                                                    [(ngModel)]="zoneNameId" name="zoneNameId">
                                                                    <option value="-1">Avaivable Zones</option>
                                                                    <option *ngFor="let zone of zones">
                                                                        {{zone.zone_name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>


                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <form (onClick)="setLot(lot.lot_id)">
                                                                    <span class="form-label">Select Day</span>
                                                                    <input [disabled]="zoneSets" class="form-control"
                                                                        type="date" min="{{minDate}}"
                                                                        [(ngModel)]="bookTo" name="bookTo">
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">

                                                                <span class="form-label">Select Your Car</span>
                                                                <select [disabled]="zoneSets" class="form-control"
                                                                    [(ngModel)]="carRegId" name="carRegId">
                                                                    <option value="-1">Your Cars</option>
                                                                    <option *ngFor="let car of cars"> {{car.car_reg}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>


                                                    <div class="row">
                                                        <button [disabled]="zoneSets" class="btn btn-block"  data-toggle="tooltip" title="edit" data-html="true" data-toggle="modal"
                                                        data-target="#paypal"  data-placement="top">Check Booking / Pay</button>
                                                    </div>
                                                  
                                                </form>
                                                <br>
                                                <br>
                                                <h4 class="text-white">Zone Location</h4>
                                                <agm-map (mapClick)="placeMarker($event)" [latitude]="latitude" [longitude]="longitude" [streetViewControl]="false" [mapTypeControl]="true" [fullscreenControl]="true">
                                                    <agm-marker [latitude]="latitude" [zoom]="10" [longitude]="longitude" ></agm-marker>
                                                 </agm-map>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="back" class="col-xl-6 col-12">
                        <h4 class="mb-5 text-white p-4 rounded">Your Bookings</h4>
                        <div ng-if="parkedCars!=[]">
                            <div *ngFor="let parkedCar of parkedCars">
                                <div class="container-fluid bg-white rounded">

                                    <div class="row py-3 mb-4 task-border align-items-center">
                                        <div class="col-sm-9 col-8">
                                            {{parkedCar.zone_id}}
                                            {{parkedCar.car_id}}
                                            Booked from {{parkedCar.book_from}} To {{parkedCar.book_to}}
                                        </div>
                                        <div class="col-1">
                                            <a href="#" (click)="setDetails(parkedCar)" data-toggle="tooltip" title="edit" data-html="true" data-toggle="modal"
                                            data-target="#newCarModal"  data-placement="top"><i
                                                    class="fas fa-edit fa-lg text-success mr-2"></i></a>
                                        </div>
                                        <div class="col-1">
                                            <a href="#" (click)="deleteBooking(parkedCar)" data-toggle="tooltip" title="delete" data-html="true"
                                                data-placement="top"><i
                                                    class="fas fa-trash-alt fa-lg text-danger"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="newCarModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Booking</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span area-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="card " style="width: 29rem;">
                    <form class="form-signin" (submit)="updateBooking($event)">
                        <select  class="form-control"
                        [(ngModel)]="carRegId" name="carRegId">
                        <option value="-1">Your Cars</option>
                        <option *ngFor="let car of cars"> {{car.car_reg}}
                        </option>
                    </select>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" (click)="refresh()" class="btn btn-secondary"
                    data-dismiss="modal">Cancel</button>

            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="paypal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Choose Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span area-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div #paypal></div>

            </div>
            <div class="modal-footer">
                <button type="button" (click)="refresh()" class="btn btn-secondary"
                    data-dismiss="modal">Cancel</button>

            </div>

        </div>
    </div>
</div>